*{
	margin:0;
	padding:0;
}
#right-weather{
	width:210px;
	height: 50px;
	color:white;
	font-size:14px;
	float:right;
	font-weight:bold;
}
#ul-weather{
	display:block;
	height:30px;
	width:200px;
	margin:0 auto;
	list-style:none;
	margin-top:20px;
	float:right;
}
#ul-weather li{
	height:18px;
	line-height:18px;
	display:block;
	float:left;
	margin-top:10px;
	text-align:center;
	list-style:none;
	margin-left:5px;
	padding-right:8px;
	border-right:2px white solid;
}
